[Desktop Entry]
Name=Leaf Dark Color
X-KDE-PluginInfo-Author=qewer33
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-Name=leaf-dark-color
X-KDE-PluginInfo-Version=0.2
