[Desktop Entry]
Name=Leaf Dark Wallpaper
X-KDE-PluginInfo-Name=leaf-dark-wallpaper
X-KDE-PluginInfo-Author=qewer33
X-KDE-PluginInfo-Email=qewer@qewer.dev
X-KDE-PluginInfo-License=GPL-3.0+
