[Desktop Entry]
Name=Leaf Dark
X-KDE-PluginInfo-Name=leaf-dark
X-KDE-PluginInfo-Author=qewer33
X-KDE-PluginInfo-Email=qewer33@protonmail.com
X-KDE-PluginInfo-License=GPLv3
