[Desktop Entry]
Name=Leaf Light
X-KDE-PluginInfo-Name=leaf-light
X-KDE-PluginInfo-Author=qewer33
X-KDE-PluginInfo-Email=qewer33@protonmail.com
X-KDE-PluginInfo-License=GPLv3
