[Desktop Entry]
Name=Leaf Dark
Comment=A forest green dark theme
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=qewer33
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Leaf-Dark
X-KDE-PluginInfo-Version=20211226
X-KDE-PluginInfo-Website=
X-KDE-fallbackPackage=org.kde.breezedark.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1229140,kns://plasma-themes.knsrc/api.kde-look.org/1229134,kns://aurorae.knsrc/api.kde-look.org/1229137,kns://icons.knsrc/api.kde-look.org/1166289,kns://xcursor.knsrc/api.kde-look.org/1346778,kns://wallpaper.knsrc/api.kde-look.org/1476107,kns://sddmtheme.knsrc/api.kde-look.org/1476117
